@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.foodRecipe {
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  background-color: rgb(212, 218, 129);
  width: 70%;
  box-shadow: 2px 1px 5px;
}

.foodName {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.foodPoints {
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 70px;
  text-align: center;
  border: solid; 
  border-radius: 60px;
}

.footerRecipe {
  height: 20%;
}

.foodDescription {
  height: 60%;
}

.filter {
  width: 69%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 2px 1px 5px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: rgb(212, 218, 129);
  text-align: center;
}

.pagination {
  text-align: center;
  margin: auto;
  width: 69%;
  display: flex;
  justify-content: center;
}

.pagination div {
  padding: 1%;
  margin: 1%;
  font-family: 'Lato', sans-serif;
  background-color: rgb(212, 218, 129);;
  box-shadow: 2px 1px 5px;
  cursor: pointer;
}

.pagination div.currentPage {
  border: solid;
  cursor: default;
}

.pagination div.disabled {
  background-color: rgb(192, 192, 115);
  cursor: default;
}

.pagination span {
  margin: 2%;
}